<section class="mat-typography">
    <mat-card class="intro-text">
      <p class="body-1">At Cognia Law, we understand that our people make us successful and we believe in recruiting 
      people with the same core values as us. We believe in an open and honest approach to business,
       collaboration & teamwork (from both an internal and external perspective), trust, flexibility, high standards,
        hard work and fun. We focus on ensuring Cognia Law is a great place to work, and are looking for ambitious and focused individuals to join our team.
      Our opportunities include a full spectrum of legal and support roles in the India.
       Please see our current opportunities listed below together with a link for your applications.</p>
      </mat-card>
      <mat-card class="main">
          <h1>Current Opportunities</h1>  
        
      <mat-grid-list cols="2" rowHeight="2:1" responsiveCols="true" responsiveRows="true">
          <mat-grid-tile>

              <mat-card class="opportunity">
                  <mat-card-header>
                    <mat-card-title>Legal Project Manager</mat-card-title>
                    <mat-card-subtitle>NAGPUR</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                        Core responsibilities include: project scoping, identifying requirements and drafting 
                        solutions documentation, budgeting, scheduling and planning, managing team productivity 
                        and quality, proactively managing risks, issues and changes, project reporting, 
                        team briefing and training (material creation and execution), stakeholder management, 
                        lessons learned and close out activities.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>APPLY</button>
                  </mat-card-actions>
                </mat-card>
                

          </mat-grid-tile>
          
          
          <mat-grid-tile>

              <mat-card class="opportunity">
                  <mat-card-header>
                    <mat-card-title>Legal Project Manager</mat-card-title>
                    <mat-card-subtitle>NAGPUR</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                        Core responsibilities include: project scoping, identifying requirements and drafting 
                        solutions documentation, budgeting, scheduling and planning, managing team productivity 
                        and quality, proactively managing risks, issues and changes, project reporting, 
                        team briefing and training (material creation and execution), stakeholder management, 
                        lessons learned and close out activities.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>APPLY</button>
                  </mat-card-actions>
                </mat-card>
                
          </mat-grid-tile>
          <mat-grid-tile>

              <mat-card class="opportunity">
                  <mat-card-header>
                    <mat-card-title>Legal Project Manager</mat-card-title>
                    <mat-card-subtitle>NAGPUR</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                        Core responsibilities include: project scoping, identifying requirements and drafting 
                        solutions documentation, budgeting, scheduling and planning, managing team productivity 
                        and quality, proactively managing risks, issues and changes, project reporting, 
                        team briefing and training (material creation and execution), stakeholder management, 
                        lessons learned and close out activities.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>APPLY</button>
                  </mat-card-actions>
                </mat-card>
                
          </mat-grid-tile>
          <mat-grid-tile>


              <mat-card class="opportunity">
                  <mat-card-header>
                    <mat-card-title>Legal Project Manager</mat-card-title>
                    <mat-card-subtitle>NAGPUR</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                        Core responsibilities include: project scoping, identifying requirements and drafting 
                        solutions documentation, budgeting, scheduling and planning, managing team productivity 
                        and quality, proactively managing risks, issues and changes, project reporting, 
                        team briefing and training (material creation and execution), stakeholder management, 
                        lessons learned and close out activities.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>APPLY</button>
                  </mat-card-actions>
                </mat-card>


          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
</section>